{
  "parser": "@typescript-eslint/parser",
  "plugins": ["prettier","@typescript-eslint"],
  "extends": ["plugin:prettier/recommended"],
  "rules": {
    "eqeqeq": 2,
    "no-return-await": 2,
    "require-await": 2,
  }
}
