{
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "prettier",
    "hooks",
    "@typescript-eslint"
  ],
  "extends": [
    "plugin:prettier/recommended"
  ],
  "rules": {
    "eqeqeq": 2,
    "no-return-await": 2,
    "require-await": 2,

    // note you must disable the base rule as it can report incorrect errors
    "no-unused-vars": 0,
    "@typescript-eslint/no-unused-vars": 2,

    "hooks/sort": [
      2,
      {
        "groups": [
          "useActions",
          "useAppSelector"
        ]
      }
    ]
  }
}
